<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>oo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
			
			<servlet>
				    <servlet-name>Admin_Edit_Profile</servlet-name>
				    <jsp-file>/hospital/admin/profile/view/Edit_Profile.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Admin_Edit_Profile</servlet-name>
				    <url-pattern>/edit-profile-admin/*</url-pattern>   
				</servlet-mapping>
			
  
  
  
  
  			 <servlet>
				    <servlet-name>Admin_Sign_In_Controller</servlet-name>
				    <jsp-file>/hospital/admin/profile/controller/Admin_Sign_In_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping>
				    <servlet-name>Admin_Sign_In_Controller</servlet-name>
				    <url-pattern>/admin-sign-in</url-pattern>   
				</servlet-mapping>
		
  
  
  
  
  
  
  				 <servlet>
				    <servlet-name>Admin_Sign_Out_Controller</servlet-name>
				    <jsp-file>/hospital/admin/common/Admin_Sign_Out_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping>
				    <servlet-name>Admin_Sign_Out_Controller</servlet-name>
				    <url-pattern>/Admin_Sign_Out_Controller</url-pattern>   
				</servlet-mapping>
		
  
  
  		 <servlet>
				    <servlet-name>Admin_Home_Page</servlet-name>
				    <jsp-file>/hospital/admin/profile/view/Admin_Home_Page.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping>
				    <servlet-name>Admin_Home_Page</servlet-name>
				    <url-pattern>/admin-home</url-pattern>   
				</servlet-mapping>
		
  
  
  				 <servlet>
				    <servlet-name>index</servlet-name>
				    <jsp-file>/index.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping>
				    <servlet-name>index</servlet-name>
				    <url-pattern>/</url-pattern>   
				</servlet-mapping>
	
	<servlet>
				    <servlet-name>Add_Doc</servlet-name>
				    <jsp-file>/hospital/admin/Doc/view/Add_Doc.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Add_Doc</servlet-name>
				    <url-pattern>/add-doc/*</url-pattern>   
				</servlet-mapping>	
    <servlet>
				    <servlet-name>Doc_Search</servlet-name>
				    <jsp-file>/hospital/admin/Doc/view/Doc_Search.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Doc_Search</servlet-name>
				    <url-pattern>/doc-search/*</url-pattern>   
				</servlet-mapping>
				
				
				<servlet>
				    <servlet-name>search_doc_form</servlet-name>
				    <jsp-file>/hospital/admin/Doc/view/search_doc_form.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>search_doc_form</servlet-name>
				    <url-pattern>/search-form-doc/*</url-pattern>   
				</servlet-mapping>
  
  	<servlet>
				    <servlet-name>View_All_Doc</servlet-name>
				    <jsp-file>/hospital/admin/Doc/view/View_All_Doc.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>View_All_Doc</servlet-name>
				    <url-pattern>/view-all-doc/*</url-pattern>   
				</servlet-mapping>
				
				
				  <servlet>
				    <servlet-name>Add_Doc_Controller</servlet-name>
				    <jsp-file>/hospital/admin/Doc/controller/Add_Doc_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Add_Doc_Controller</servlet-name>
				    <url-pattern>/add-doc-control/*</url-pattern>   
				</servlet-mapping>
				
				<servlet>
				    <servlet-name>View_Doc_Details</servlet-name>
				    <jsp-file>/hospital/admin/Doc/view/Complete_Details_Of_Doc.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>View_Doc_Details</servlet-name>
				    <url-pattern>/complete-details-doc/*</url-pattern>   
				</servlet-mapping>
  
  
  			
				<servlet>
				    <servlet-name>Delete_Doc_details</servlet-name>
				    <jsp-file>/hospital/admin/Doc/controller/Delete_Doc_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Delete_Doc_details</servlet-name>
				    <url-pattern>/delete-doc/*</url-pattern>   
				</servlet-mapping>
				
				
				<servlet>
				    <servlet-name>Edit_Doc_details</servlet-name>
				    <jsp-file>/hospital/admin/Doc/view/Edit_Complete_Details_Of_Doc.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Edit_Doc_details</servlet-name>
				    <url-pattern>/edit-doc/*</url-pattern>   
				</servlet-mapping>
				<servlet>
				    <servlet-name>Edit_Doc_details_Con</servlet-name>
				    <jsp-file>/hospital/admin/Doc/controller/Edit_Doc_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Edit_Doc_details_Con</servlet-name>
				    <url-pattern>/edit-profile-doc-controller/*</url-pattern>   
				</servlet-mapping>
				
				
				
				
				
				
				
				
				
				
				
				
				
				<servlet>
				    <servlet-name>Add_Emp</servlet-name>
				    <jsp-file>/hospital/admin/Emp/view/Add_Emp.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Add_Emp</servlet-name>
				    <url-pattern>/add-emp/*</url-pattern>   
				</servlet-mapping>	
    <servlet>
				    <servlet-name>Emp_Search</servlet-name>
				    <jsp-file>/hospital/admin/Emp/view/Emp_Search.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Emp_Search</servlet-name>
				    <url-pattern>/emp-search/*</url-pattern>   
				</servlet-mapping>
				
				
				<servlet>
				    <servlet-name>search_emp_form</servlet-name>
				    <jsp-file>/hospital/admin/Emp/view/search_emp_form.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>search_emp_form</servlet-name>
				    <url-pattern>/search-form-emp/*</url-pattern>   
				</servlet-mapping>
  
  	<servlet>
				    <servlet-name>View_All_Emp</servlet-name>
				    <jsp-file>/hospital/admin/Emp/view/View_All_Emp.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>View_All_Emp</servlet-name>
				    <url-pattern>/view-all-emp/*</url-pattern>   
				</servlet-mapping>
				
				
				  <servlet>
				    <servlet-name>Add_Emp_Controller</servlet-name>
				    <jsp-file>/hospital/admin/Emp/controller/Add_Emp_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Add_Emp_Controller</servlet-name>
				    <url-pattern>/add-emp-control/*</url-pattern>   
				</servlet-mapping>
				
				<servlet>
				    <servlet-name>View_Emp_Details</servlet-name>
				    <jsp-file>/hospital/admin/Emp/view/Complete_Details_Of_Emp.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>View_Emp_Details</servlet-name>
				    <url-pattern>/complete-details-emp/*</url-pattern>   
				</servlet-mapping>
  
  
  			
				<servlet>
				    <servlet-name>Delete_Emp_details</servlet-name>
				    <jsp-file>/hospital/admin/Emp/controller/Delete_Emp_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Delete_Emp_details</servlet-name>
				    <url-pattern>/delete-emp/*</url-pattern>   
				</servlet-mapping>
				
				
				<servlet>
				    <servlet-name>Edit_Emp_details</servlet-name>
				    <jsp-file>/hospital/admin/Emp/view/Edit_Complete_Details_Of_Emp.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Edit_Emp_details</servlet-name>
				    <url-pattern>/edit-emp/*</url-pattern>   
				</servlet-mapping>
				<servlet>
				    <servlet-name>Edit_Emp_details_Con</servlet-name>
				    <jsp-file>/hospital/admin/Emp/controller/Edit_Emp_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Edit_Emp_details_Con</servlet-name>
				    <url-pattern>/edit-profile-emp-controller/*</url-pattern>   
				</servlet-mapping>
				
				
				
				
				
				
				
				
				
				
				
				
				<servlet>
				    <servlet-name>Add_Clinic</servlet-name>
				    <jsp-file>/hospital/admin/Clinic/view/Add_Clinic.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Add_Clinic</servlet-name>
				    <url-pattern>/add-clinic/*</url-pattern>   
				</servlet-mapping>	
    <servlet>
				    <servlet-name>Clinic_Search</servlet-name>
				    <jsp-file>/hospital/admin/Clinic/view/Clinic_Search.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Clinic_Search</servlet-name>
				    <url-pattern>/clinic-search/*</url-pattern>   
				</servlet-mapping>
				
				
				<servlet>
				    <servlet-name>search_clinic_form</servlet-name>
				    <jsp-file>/hospital/admin/Clinic/view/search_clinic_form.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>search_clinic_form</servlet-name>
				    <url-pattern>/search-form-clinic/*</url-pattern>   
				</servlet-mapping>
  
  	<servlet>
				    <servlet-name>View_All_Clinic</servlet-name>
				    <jsp-file>/hospital/admin/Clinic/view/View_All_Clinic.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>View_All_Clinic</servlet-name>
				    <url-pattern>/view-all-clinic/*</url-pattern>   
				</servlet-mapping>
				
				
				  <servlet>
				    <servlet-name>Add_Clinic_Controller</servlet-name>
				    <jsp-file>/hospital/admin/Clinic/controller/Add_Clinic_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Add_Clinic_Controller</servlet-name>
				    <url-pattern>/add-clinic-control/*</url-pattern>   
				</servlet-mapping>
				
				<servlet>
				    <servlet-name>View_Clinic_Details</servlet-name>
				    <jsp-file>/hospital/admin/Clinic/view/Complete_Details_Of_Clinic.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>View_Clinic_Details</servlet-name>
				    <url-pattern>/complete-details-clinic/*</url-pattern>   
				</servlet-mapping>
  
  
  			
				<servlet>
				    <servlet-name>Delete_Clinic_details</servlet-name>
				    <jsp-file>/hospital/admin/Clinic/controller/Delete_Clinic_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Delete_Clinic_details</servlet-name>
				    <url-pattern>/delete-clinic/*</url-pattern>   
				</servlet-mapping>
				
				
				<servlet>
				    <servlet-name>Edit_Clinic_details</servlet-name>
				    <jsp-file>/hospital/admin/Clinic/view/Edit_Complete_Details_Of_Clinic.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Edit_Clinic_details</servlet-name>
				    <url-pattern>/edit-clinic/*</url-pattern>   
				</servlet-mapping>
				<servlet>
				    <servlet-name>Edit_Clinic_details_Con</servlet-name>
				    <jsp-file>/hospital/admin/Clinic/controller/Edit_Clinic_Controller.jsp</jsp-file>
				</servlet>
				 
				<servlet-mapping> 
				    <servlet-name>Edit_Clinic_details_Con</servlet-name>
				    <url-pattern>/edit-profile-clinic-controller/*</url-pattern>   
				</servlet-mapping>
				
				
  <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.css</url-pattern>  
    </servlet-mapping>
  
  
  
    <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.js</url-pattern>  
    </servlet-mapping> 
 
 
 <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.jpg</url-pattern>  
    </servlet-mapping> 
    
     <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.gif</url-pattern>  
    </servlet-mapping> 
 
  <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.png</url-pattern>  
    </servlet-mapping> 
 
	
	
	  <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.eot</url-pattern>  
    </servlet-mapping> 
 
	
	
	
	  <servlet-mapping>  
        <servlet-name>default</servlet-name>  
        <url-pattern>*.woff</url-pattern>  
    </servlet-mapping> 
  
  
  
  
  
  
  
</web-app>